@font-face {
  font-family: "Shototam1";
  src: url(/4_four/SHri/font2/Gilroy-Bold.woff2) format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Shototam2";
  src: url(/4_four/SHri/font2/Gilroy-Medium.woff2) format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Shototam3";
  src: url(/4_four/SHri/font2/Gilroy-Regular.woff2) format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Shototam4";
  src: url(/4_four/SHri/font2/Gilroy-Semibold.woff2) format("woff");
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  box-sizing: border-box;
  scroll-behavior: smooth;
  background: #FFFFFF;

  font-style: normal;
  
}

img {
  /* max-width: 100%; */
  display: block;
}

.container {
  width: 1170px;
  margin: 0 auto;
  
}
.container2 {
  padding: 30px 0;
  width: 1170px;
  height: 491px;
  margin: 0 auto;
}
.container3 {
  width: 1170px;
  height: 919px;
  margin: 0 auto;
}

header {
  padding: 40px 0;
  margin-bottom: 50px;
  font-family: "Shototam2";
}

.navigation {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.navigation_link {
  
  font-size: 14px;
  line-height: 40px;
  display: flex;
  gap: 40px;
}
.nav_link_color2 {
  color: #f25822;
  font-weight: 1000;
}
.nav_link_color1{
  color: #000000;
}

main {
  margin-bottom: 197px;
}

.content_wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 197px;
}
.content_mainTitle {
  font-weight: 800;
  font-size: 60px;
  line-height: 70.31px;
  color: #000000;
  margin-bottom: 20px;  
  font-family: "Shototam4";
  width: 550px;
}

.content_description {
  font-size: 20px;
  line-height: 23.44px;
  color: #888888;
  opacity: 0.7;
  margin-bottom: 50px;
  width: 500px;
  font-family: "Shototam2";
}

.content_btns {
  display: flex;
  gap: 20px;
}

.content_btns_button {
  font-size: 15px;
  line-height: 17.58px;
  color: #ffffff;
  font-family: "Shototam1";
  background: #f25822;

  border-radius: 50px;
  padding: 15px 30px;
  border: none;
  cursor: pointer;
}

.btn_play {
  color: #aaaa;
  background: #ffffff;
}
.btn_vector {
  display: flex;  
  width: 150px;
  height: 50px;
  border-radius: 50px;
  margin: auto;
}
.txt_vector {
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0em;
  
  
}
.img_vector {
  width: 4px;
  height: 8px;
  border: 2px;
  margin: auto;
  
  
}
.logos {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

article {
	margin-bottom: 100px;
}
.card2 {
	background: #FFFFFF;
	
	display: flex;
	gap: 30px;
	flex-direction: column;
  width: 310px;
  height: 226px;
	padding: 30px;
	color: black;
  margin: auto;
}
.card {
	background: #FFFFFF;
	border-radius: 10px;
	display: flex;
	gap: 30px;
	flex-direction: column;
	text-align: center;
	align-items: center;
	padding: 30px;
	color: black;
}
.cards-list__wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 30px;
}
.cards-list {
	/* margin-bottom:-100px; */ 
  
}

h3 {
  font-family: "Shototam1";
  font-size: 24px;
  line-height: 28.13px;
  letter-spacing: 0em;
  font-weight: 300;
}

h2 {
 font-family: "Shototam1";
 font-size: 45px;
 line-height: 53px;
 letter-spacing: 0em;
 font-weight: 350;

}

p {
  font-family: "Shototam3" ;
  font-size: 15px;
  line-height: 22.5px;
  letter-spacing: 0em;
  color: #AAAAAA;
  font-weight: 500;
}

.button_card {
  background: #ffffff;
  font-family: "Shototam1";
  font-size: 11px;
  height: 17px;
  letter-spacing: 0em;
  text-align: left;
  width: 64px;
  border: none;
  cursor: pointer;

}

.icon_small {
  display: flex;
  width: 70px;
  height: 70px;
  border-radius: 15px;
}

.heading_indent {

  width: 682px;
  height: 123px;
  margin: 30px;
}
.heading_indent2 {
  padding: 30px 0;
  width: 682px;
  height: 48px;


  
}
 .size_container {
  width: 370px;
  height: 549px;
  display: grid;
  gap: 30px;
  margin: 15px;
}
.border_sh {
  box-shadow: 0px 1px 50px rgba(0,0,0,0.09), 30px 35px 40px rgba(0,0,0,0.06);
            
}
.border_sh2 {
  box-shadow: 0 1px 50px rgba(0,0,0,0.06), 0 0px 0px rgba(0,0,0,0.06);
            
}
.p_2 {
  color: #666666;
  font-weight: 600;
  line-height: 24px;
  
}
.p_container {
  width: 310px;
  height: 63px;
  margin: auto;

}