@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Varela&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Lato";
}

.conte {
  width: 1600px;
}

header {
  height: 75px;
  background: #222;
}

.logo {
  padding: 18px;
  display: flex;
}

.logo1 {
  width: 110.99895477294922px;
  height: 38px;
  margin-right: 859px;
}
.vector {
  margin-left: 41px;
}
.logo2 {
  width: 158.996px;
  height: 29px;
}
.vector2 {
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-size: 32px;
}

body {
  background: #ffffff;
  margin: auto;
}

.block_1 {
  display: flex;
  background: #f1e4e6;
  height: 764px;
}

.block_1Cont {
  width: 12px;
  height: 92px;
  background: #f16d7f;
}

.block_1Text {
  color: #222;
  width: 377px;
  height: 93px;
  padding: 20px;
  line-height: 140%;
}

.block_1Flex {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 6px;
}

.block_1TextSiz {
  color: #222;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
}

.block_1TextColor {
  color: #f16d7f;
  font-size: 32px;
  font-style: normal;
}

.block_1TextH2 {
  color: #222;
  text-decoration-line: none;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
}

.block_1Conteiner {
  width: 405px;
  height: 93px;
  display: flex;
  margin: 290px 0;
}

.container {
  width: 1140px;
  margin: auto;
}

.container2 {
  width: 1140px;
  height: 1395px;

  margin-left: 230px;
}

.container3 {
  width: 1140px;
  height: 535px;
  padding: 65px 0;
  margin-bottom: 96px;
}

.img-textF {
  position: relative;
  text-align: center;
  
 
  
  
}
.img {
  width: 360px;
  height: 260px;
}
.flex {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
}

.block-img {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  display: flex;
  justify-content: space-between;
}

.box-img {
  background: #211616;
  filter: brightness(40%);
}

.img-TextF2 {
  position: relative;
  text-align: center;
  padding: 25px 0;
}
.img2 {
  width: 1140px;
  height: 180px;
}

.img3 {
  margin: 15px;
  width: 360.0000305175781px;
  height: 587px;
}

.text-img {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  width: 100%;
  
  
  
}

.text-img-color {
  color: #f16d7f;
  font-size: 24px;
  font-weight: 700;
}

.block_3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
}


.blockText5 {
  display: flex;
  width: 360px;
  padding: 24px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  background: #f8f8f8;
}

.block_3Text {
  text-align: center;
  margin-bottom: 43px;
}

.block_3Text1 {
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  color: #222222;
  margin-bottom: 6px;
}


.block_3Text2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #9f9f9f;
}

.block_3Text3 {
  color: #000;
  font-family: Lato;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.block_3Text4 {
  color: #5d5d5d;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.button_1 {
  width: 212px;
  height: 48px;
  margin: 48px;
  border-radius: 0.5px;
  border-color: #f16d7f;
  background: #ffffff;
  cursor: pointer;
}

.button_1Cont {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
}

.color_ {
  color: #f16d7f;
  font-size: 16px;
  font-weight: 400;
}


@media (max-width: 848px) {
  .conte {
    width: 767px;
  }
  .container {
    width: 767px;
  }
  .container2 {
    width: 767px;
    margin: auto;
  }
  .container3 {
    width: 735.9992065429688px;
    height: 368.0425720214844px;
    margin-bottom: 109px;
  }
  
  .logo1 {
    margin-right: 424px;
  }
  .block_1TextH2 {
    font-size: 44px;
  }
  .block_1TextSiz {
    font-size: 24px;
  }
  .block_1TextColor {
    font-size: 24px;
  }
  .block_1 {
    height: 367px;
  }
  .block_1Conteiner {
    display: flex;
    margin: 138px 0;
  }
  .block_1Text {
    width: 283px;
    height: 78px;
    padding: 10px;
  }


  .block_3Text {
    margin-bottom: 65px;
  }
  .img {
    width: 231.9730987548828px;
    height: 167.61703491210938px;
  }

  .img2 {
    width: 734.5816650390625px;
    height: 116.08553314208984px;
  }
  .img3 {
    margin: 8px;
  }

  .block_3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 8px;
  }
}

/* черновик */
@media (max-width: 375px) {
  .conte {
    width: 343px;
  }
  .container {
    width: 343px;
  }
  .block_3 {
    display: grid;
  }
  .block-img {
    display: flex;
    flex-direction: column;
  }
}
